<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jjjshop.shop.mapper.user.UserGradeLogMapper">

    <select id="getList" parameterType="net.jjjshop.shop.param.user.UserGradeLogPageParam" resultType="net.jjjshop.shop.vo.user.UserGradeLogVo">
        SELECT log.*,user.nickName,user.avatarUrl
        <include refid="commonSql" />
        ORDER BY log.create_time DESC
        LIMIT #{startIndex},#{pageSize}
    </select>

    <select id="getTotalCount" parameterType="net.jjjshop.shop.param.user.UserGradeLogPageParam" resultType="java.lang.Long">
        SELECT count(*)
        <include refid="commonSql" />
    </select>

    <!-- 通用查询 -->
    <sql id="commonSql">
        FROM ${prefix}user_grade_log log
        LEFT JOIN ${prefix}user user ON user.user_id = log.user_id
        <where>
            <if test="nickName != null and nickName != ''">
                AND user.nickName LIKE CONCAT('%',#{nickName},'%')
            </if>
        </where>
    </sql>

</mapper>
